/* MAIN NAV */
navbar {
  height: 60px;
  background: #212121;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-bottom: 2px solid #212121;
}

#logo{
  display: inline-block;
  padding-left: 30px;
  padding-top: 10px;
  float: left;
  font-family: 'Libre Baskerville', serif;
}

.nav-link{
  display: inline-block;
  padding: 15px;
  padding-right: 30px;
  float: right;
  font-size: 20px;
  color: #bbb;
  text-transform: uppercase;
}

navbar:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
navbar input {
  box-sizing: border-box;
  border: 0;
  height: 39px;
  padding: 10px;
  width: calc(100% - 351px);
}

.nav{
  display: inline-block;
}
