<img ng-src="http://www.armonieartecasa.com/data/files/Neural%201.jpg" alt="" class="bg">
<div class="container">
  <div class="right">
    <div class="text">
      <div class="textBlock">
        <h1>Design Principles</h1>
      </div>
      <div class="textBlock">
        <h3>Sonification and Visualization</h3>
      </div>

      <div class="textBlock">
        <h3>Potential Front-end Technologies</h3>
        <ul>
          <li>Web Audio API</li>
          <li>Canvas</li>
          <li>p5.js</li>
        </ul>
      </div>
      <!-- <div class="textBlock">
        <h3>Potential Sources of User Inputs</h3>
        <ul>
          <li>Mouse movements</li>
          <li>Browser attributes</li>
          <li>Biometrics</li>
        </ul>
      </div> -->
      <div class="textBlock">
        <h3>Inherent Problems with Sonification and Visualization</h3>
        <p>Signal-to-noise ratio</p>
        <ul>
          <li>Rhythm</li>
          <li>Bassline</li>
          <li>Pads</li>
          <li>Lead</li>
        </ul>
      </div>
      <div class="textBlock">

      </div>

      </p>
    </div>

  </div>
</div>
