<img ng-src="http://4.bp.blogspot.com/-aJSTKwrFlZk/TZJXj5E0ZsI/AAAAAAAAA9A/Lo8tleArnVA/s1600/477-701383.jpg" alt="" class="bg">
<div class="container">
  <div class="right">
    <div class="text">
      <div class="textBlock">
        <h1>The interferon project</h1>
      </div>
      <div class="textBlock">
        <h3>noun:<br>• the inherent nature or essence of someone or something<br>• a distinctive feature; a peculiarity</h3>
      </div>
      <div class="textBlock">
        <h3>An aesthetic experience involving generative patterns and interactivity</h3>
      </div>
      <div class="textBlock">

      </div>
    </div>
  </div>
</div>
