<img ng-src="http://www.armonieartecasa.com/data/files/Neural%201.jpg" alt="" class="bgFlip">
<div class="container">
  <div class="right">
    <div class="text">
      <div class="textBlock">
        <h1>{{view.textBlock1h1}}</h1>
      </div>
      <div class="textBlock">
        <h3>{{view.textBlock2h3}}</h3>
        <ul ng-repeat="element in view.textBlock2p">
          <li>{{element}}</li>
        </ul>
      </div>

      <div class="textBlock">
        <h3>{{view.textBlock3h3}}</h3>
        <ul ng-repeat="element in view.textBlock3p">
          <li>{{element}}</li>
        </ul>
      </div>

      <div class="textBlock">
        <h3>{{view.textBlock4h3}}</h3>
        <ul ng-repeat="element in view.textBlock4p">
          <li>{{element}}</li>
        </ul>
      </div>
  </div>
</div>
