<img ng-src="http://www.armonieartecasa.com/data/files/Neural%201.jpg" alt="" class="bgFlip">
<div class="container">
  <div class="right">
    <div class="text">
      <div class="textBlock">
        <h1>Concept and Overview</h1>

      </div>

      <div class="textBlock">
        <h3>Sonification and Visualization</h3>

      </div>

      <div class="textBlock">
        <h3>Potential Sources of Data Inputs</h3>
        <ul>
          <li>Twitter Sentiment Analysis</li>
          <li>Refugee Movements</li>
          <li>Arms Sales</li>
        </ul>
            </div>
      <div class="textBlock">
        <h3>Potential Sources of User Inputs</h3>
        <ul>
          <li>Mouse movements</li>
          <li>Browser attributes</li>
          <li>Biometrics</li>
        </ul>
      </div>


  </div>
</div>
