<img ng-src="http://www.armonieartecasa.com/data/files/Neural%201.jpg" alt="" class="bgFlip">
<div class="container">
  <div class="right">
    <div class="text">
      <div class="textBlock">
        <h1>Process for Development</h1>

      </div>

      <div class="textBlock">
        {{view.message}}
      </div>

      <div class="textBlock" ng-repeat="repo in view.gitData | orderBy: 'created_at':  true">
        {{repo.name}}
        <!-- <a href="{{repo.html_url}}" target="_blank" >{{repo.name}}</a>
        <small>{{repo.description}}</small> -->
      </div>
    </div>

  </div>
</div>
