<img ng-src="http://www.armonieartecasa.com/data/files/Neural%201.jpg" alt="" class="bgFlip">
<div class="container">
  <div class="right">
    <div class="text">
      <div class="textBlock">
        <h1>{{view.textBlock1h1}}</h1>
        <p>{{view.textBlock1p}}</p>
      </div>


      <div class="textBlock">
        <h3>{{view.textBlock3h3}}</h3>
        <ul ng-repeat="repo in view.gitData | orderBy: 'created_at':  true">
          <li><a href="{{repo.html_url}}" target="_blank" >{{repo.name}}</a><br><small>{{repo.description}}</small></li>
        </ul>
      </div>
    </div>

  </div>
</div>
